@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0; 
}
body{
	background: #F1F1F1;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666666;
  line-height: 1;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
/*head*/
.bg-light {
    background-color: #f8f9fa!important;
    background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
}
.navbar-light .navbar-brand {
    color: #fff;
    font-weight: 500;
}
/*botones*/
.inicio-opciones {
 background: #fff;
  padding: 50px 0;
  text-align: center;
}
.btn-circulo {
    padding: 30px 0;
    font-size: 15px;
}

.btn-circulo h2 {
    font-size: 17px;
}
/*CLIENTES*/
.head-title {
	background: #fff;
	padding: 10px 0;
}
.head-title h2 {
	font-size: 17px;
	color: #0E646A;
  margin-bottom: 0;
}
/*buscar*/
.search {
	padding: 15px 0;
  background-color: #f1f1f1;
  position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}
.btn-green{
    background-color: #499F73;
    color: #ffff;
    border: none;
    border-radius: 0 10px 10px 0;
}
.form-control{ 
  border-radius: 10px;
}
/*clientes*/
.customers h3 {
	font-size: 16px;
  padding: 10px 0 0;
}
.date h3 {
      font-size: 22px;
}
/*timeline*/
div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
}

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#timeline section:after {
  content: '';
  width: 2px;
  position: absolute;
  top: .5rem;
  bottom: 0rem;
  left: 40px;
  z-index: 1;
  background: #63C282;
}
#timeline .date {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  color: #888;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}
#timeline section.year {
  position: relative;
}
#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}
#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}

#timeline section.year section .item {
  padding: 0 0 0 55px;
  /*margin: -1.35rem 0 1em;
  max-width: 32rem;
  font-size: 1em;*/
      background-color: #fff;
    margin-left: 60px;
    padding: 10px;
    border-radius: 6px;
        overflow: hidden;
}
/*@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}*/
/*#timeline section.year section ul:last-child {
  margin-bottom: 0;
      background: #fff;
    margin-left: 60px;
    padding: 10px;
    border-radius: 8px;
}*/
#timeline section.year section .item:first-of-type:after {
  content: '';
  width: 13px;
  height: 13px;
  background: #63C282;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 34px;
  top: 3px;
  z-index: 2;
}
#timeline .f-visita{
   font-size: 12.5px;
    padding-top: 10px;
}

/*******tabs info*********/
.info-cost {
  background-color: #fff;
}

.tablink {
    background-color: #ffffff;
    color: #0E646A;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    color: #565656 ;
    display: none;
}
.nav-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
/*1*/
.head-client {
  background-color: #f8f9fa!important;
  background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  padding: 5px;
  color: #fff;
}
.head-client h2 {
  font-size: 16px;
}
.phone {
  display: flex;
  padding: 10px 0;
}
.phone p {
  padding: 5px 0 0 5px;
}
.email {
  display: flex;
  float: right;
  padding: 10px 0;
}
.email p {
  padding: 5px 0 0 5px;
}
.credito {
  padding: 20px 0 10px;
}
.credito .circle{
    border: 3px #ccc solid;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    display: inline-block;
        text-align: center;
}
.credito .circle h3{
    font-size: 17px;
    padding-top: 25px;
    color: #0e646a;
    font-weight: 700;
}
.credito .circle p{
  font-size: 15px;
    line-height: 14px;
}

.info-cost .detalle {
  text-align: left;
  font-size: 15px;
  padding: 25px 0 250px;
  line-height: 17px;
}
/*2*/
#products-recomm .cantidad input {
width: 70px;
    margin: auto;
}
table.minimalistBlack {
  width: 100%;
  height: 200px;
  text-align: left;
  border-collapse: collapse;
      margin: 30px 0 50px;
}
table.minimalistBlack td, table.minimalistBlack th {
  padding: 6px 6px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  }
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: normal;
  color: #919191;
}
table.minimalistBlack tfoot {
  font-size: 12px;
  font-weight: bold;
}
table.minimalistBlack tfoot td {
  font-size: 12px;
}
/*2*/
/*General style */

#accordion {/* padding: 30px 150px; */}
.panel-title a {font-size: 16px;/* text-transform: uppercase; *//* font-weight: 600; *//* padding-right:20px; */color: #ffffff;text-decoration: none;}
.panel-default>.panel-heading {text-align: left;margin: 10px 0;background-color: #0d6f6f;}
.panel-heading {padding: 10px;}


/* Code for animation -- to change direction of chevron just change -40px to 40px and vice versa */
.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {width: 10px; height: 5px; background-color: rgb(99, 99, 99); display: inline-block; transition: all .1s linear;}
.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {transform: skewY(-40deg);/* color: #fff; */}
.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {transform: skewY(40deg);}
.glyphicon {top: -2px;color: #fff;}

.panel-body .fordays {
    background-color: #f1f1f1;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.dia{
      background-color: #cccc;
    padding: 10px 6px 6px;
    text-align: center;
}
.dia p:first-child {
  font-size: 24px;
}
.dia p:last-child {
  font-size: 14px;
    padding-top: 5px;
}

/*edetalle de pedido*/
.nav-pedido {
    display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.nav-pedido .tablink {
  width: 50%;
  font-size: 15px;
}
.back-form-detalle {
  background-color: #fff;
  padding: 10px;
  width: 100%
}
/**form*/

.lw { font-size: 60px; }
:root {
  --main-color: #f8f9fa;
  --second-color: #ced4da;
  --gray-text: #9eaab8;
  --black: #3a3a3a;
  --green: #d2e64b;
  --blue: #2f9075;
  --red: #df5621;
  --gray: #ced4da;
}


.form-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: var(--gray-text);
  margin-bottom: 16px;
}
.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.form-group-label {
  color: var(--gray-text);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 12px;
  left: 16px;
  z-index: 1;
  transition: all 0.3s ease;
}
.form-group-input:focus ~ .form-group-label,
.form-group-input:valid ~ .form-group-label {
  font-size: 14px;
  top: 0px;
  color: #2f9075;
}
.form-group-input {
  font-size: 18px;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-top: 16px;
  border-radius: 2px;
  color: var(--black);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: var(--main-color);
}
.form-group-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #339375;
  z-index: 1;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  transition: all 0.3s ease;
}
.form-group-input:hover ~ .form-group-line {
  width: 0;
  -webkit-animation: input 1s infinite ease-in-out;
          animation: input 1s infinite ease-in-out;
}
.form-group-input:focus ~ .form-group-line,
.form-group-input:valid ~ .form-group-line {
  -webkit-animation: input2 0.5s 1 ease;
          animation: input2 0.5s 1 ease;
  width: 100%;
}
.form button {
  margin-top: 16px;
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  background-color: #2f9075;
  transition: all 0.3s ease;
}
.form button:hover {
  background-color: #489e73;
}
/**form**/

/*Posiciones*/

#posiciones .empty-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40% 0;
    color: #cbcbcb;
}
.empty-cart .col {
}
.block-prod {
  background-color: #fff;
  padding:10px;
  height: 143px;
  border-bottom: 2px solid #0d696c;
  margin: 15px 0;
}
.block-prod h6 {
   color: #0d696c;
       font-weight: bold;
}
.bloque-prod p {
   color: #63c282;
}
.block-prod hr {
   margin-top: 8px;
    margin-bottom: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}