/*head*/
.bg-light {
    background-color: #f8f9fa!important;
    background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
}
.navbar-light .navbar-brand {
    color: #fff;
    font-weight: 500;
}