@import "./base/comun.scss";
@import "./base/menu.scss";
@import "./base/footer.scss";
@import "./helpers/mixins.scss";
@import "./helpers/utilities.scss";
@import "./helpers/variables.scss";
@import "./views/inicio.scss";
@import "./views/cliente.scss";
@import "./views/cliente-info.scss";
@import "./views/productos.scss";
@import "./views/editar-productos.scss";
@import "./views/detallesdepedido.scss";
@import "./views/confirmacion.scss";



