include base/mixin.pug
doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug

    #head-subtitle
      .container-fluid
        .head
          h2 EEGIR CLIENTE
    .search
      .container
        .input-group
          input#txtbuscar.form-control(type='text', placeholder='Buscar Cliente')
          span.input-group-btn
            button#buscar.btn.btn-green(type='button')
              i.fas.fa-search(aria-hidden='true')
              span.glyphicon.glyphicon-search
      .customers
        .container
          .cust-route
            h3 Clientes planificados en ruta
    .container
      .cients-list
        #timeline
          div
            section.day
              .date
                h3 22
                p Nov
                section
                  .item
                    .row
                      .col
                        .font-weight-bold.float-left
                          a(href='detallesdepedido.html')
                            p 58565
                        .float-right
                          a(href='cliente-info.html')
                            img(src='img/icon-info.png')
                      .col-12
                        a(href='detallesdepedido.html')
                          p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                      .col-12.f-visita
                        .u-visita
                          p F.ultima visita: 10/10/18
                        .u-pedido
                          p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 415689
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p BALVIN TORIBIO ERICKSON / Botica Biofarma
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 307891 
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p CASTRO ESMINOZA JOSE GREGORIO/ Farmacia 
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 458565 
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p DROGUERIA ALKO S.A.C / Drogueria Alko
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 458565 
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ELIKAR MEDIC E.I.R.L / ELIKAR MEDIC E.I.R.L
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 58565
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 58565
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 58565
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 58565
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18
                section.day
                  section
                    .item
                      .row
                        .col
                          .font-weight-bold.float-left
                            a(href='detallesdepedido.html')
                              p 58565
                          .float-right
                            a(href='cliente-info.html')
                              img(src='img/icon-info.png')
                        .col-12
                          a(href='detallesdepedido.html')
                            p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                        .col-12.f-visita
                          .u-visita
                            p F.ultima visita: 10/10/18
                          .u-pedido
                            p F.ultimo pedido: 10/10/18

    include base/script.pug

