doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    .confirmacion
      .head-title
        .container-fluid.text-center
          p 458565
          p Alcimar Farm E.I.R.L. / BOTICA ALCIMARS
      .felicidades
        .co
        h5 Felicitaciones
        p Tu pedido P0001 ha sido procesado exitosamente.
      .listado-productos




    include base/script.pug