doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug

    .head
      .container-fluid.text-center
        .row
          .col-2
            a.float-left(href='clientes.html')
              i.fas.fa-arrow-left
          .col-8
            p 458565
            p Alcimar Farm E.I.R.L. / BOTICA ALCIMARS
          .col-2
            .icons-product.float-right
              button.modal-detail(type='button', data-toggle='modal', data-target='#day')
                img(src='img/cambiar-client-24.svg')
    .nav-pedido
      button#defaultOpen.tablink(onclick="openCity('datos-comerciales', this )") DATOS COMERCIALES
      button.tablink(onclick="openCity('posiciones', this )") POSICIONES
    .block-pedido
      #datos-comerciales.tabcontent
        .container
          .row
            .back-form-detalle
              form.form
                .form-group
                  select.form-control.form-group-input(id='')
                    option(value='0') Area de venta
                    option 1011 / 10 / 01
                    option 1011 / 10 / 01
                    option 1011 / 10 / 01
                    option 1011 / 10 / 01
                    option 1011 / 10 / 01
                .form-group
                  select.form-control.form-group-input(id='')
                    option(value='0') Clase
                    option ZP02 - Pedido de venta
                    option ZP03 - Pedido de venta
                    option ZP04 - Pedido de venta
                    option ZP05 - Pedido de venta
                    option ZP06 - Pedido de venta
                .form-group
                  select.form-control.form-group-input(id='')
                    option(value='0') Destinatario
                    option 423949 - AV EMANCIPACION 595, A
                    option 423949 - AV EMANCIPACION 595, A
                    option 423949 - AV EMANCIPACION 595, A
                    option 423949 - AV EMANCIPACION 595, A
                    option 423949 - AV EMANCIPACION 595, A
                .form-group
                  select.form-control.form-group-input(id='')
                    option(value='0') Vendedor
                    option 00013412 - CARLOS ESPINOZA
                    option 00013412 - CARLOS ESPINOZA
                    option 00013412 - CARLOS ESPINOZA
                    option 00013412 - CARLOS ESPINOZA
                    option 00013412 - CARLOS ESPINOZA
                .row
                  .col
                    .form-group
                      input.form-group-input(type='text', required='')
                      label.form-group-label Vend (ZR):
                      .form-group-line
                  .col
                    .form-group
                      input.form-group-input(type='text', required='')
                      label.form-group-label Vend (ZR):
                      .form-group-line
              .row
                .col
                  .form-group
                    select.form-control.form-group-input(id='')
                      option(value='0') Centro
                      option 1119
                      option 1119
                      option 1119
                      option 1119
                      option 1119
                .col
                  .form-group
                    input.form-group-input(type='text', required='')
                    label.form-group-label Cod. de Pago:
                    .form-group-line
              .row
                .col
                  .form-group
                    select.form-control.form-group-input(id='')
                      option(value='0') Cond. Especial
                      option 1119
                      option 1119
                      option 1119
                      option 1119
                      option 1119
                .col
                  .form-group
                    select.form-control.form-group-input(id='')
                      option(value='0') Nivel de Pago
                      option 1119
                      option 1119
                      option 1119
                      option 1119
                      option 1119
              .form-group
                input.form-group-input(type='text', required='')
                label.form-group-label Oc
                .form-group-line
              .row
                .col
                  .btn-border-green
                    a(href='productos.html') AGREGAR PRODUCTOS
    #posiciones.tabcontent
      .container-fluid.pd-0
        //
          .empty-cart
          h3 Agregar productos
          img(src='img/cruz.svg')
        .row
          .content-products
            .box-product
              .delete.float-right
                a(href='#')
                  i.fas.fa-times
              .row
                .col
                  .name
                    h6 465341 - ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  .form-group
                    input.form-group-input.bg-gray(type='text', required='')
                    label.form-group-label Posición:
                    .form-group-line
                .col
                  .form-group
                    input.form-group-input.bg-gray(type='text', required='')
                    label.form-group-label Cantidad:
                    .form-group-line
                .col-1
                  .icon-edit
                    a(href='editar-productos')
                      img(src='img/icon-edit.svg')
                .col.total
                  p Total: 300
            .box-product
              .delete.float-right
                a(href='#')
                  i.fas.fa-times
              .row
                .col
                  .name
                    h6 465341 - ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  .form-group
                    input.form-group-input(type='text', required='')
                    label.form-group-label Posición:
                    .form-group-line
                .col
                  .form-group
                    input.form-group-input(type='text', required='')
                    label.form-group-label Cantidad:
                    .form-group-line
                .col-1
                  .icon-edit
                    a(href='editar-productos')
                      img(src='img/icon-edit.svg')
                .col.total
                  p Total: 300
            .box-product
              .delete.float-right
                a(href='#')
                  i.fas.fa-times
              .row
                .col
                  .name
                    h6 465341 - ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  .form-group
                    input.form-group-input.bg-gray(type='text', required='')
                    label.form-group-label Posición:
                    .form-group-line
                .col
                  .form-group
                    input.form-group-input.bg-gray(type='text', required='')
                    label.form-group-label Cantidad:
                    .form-group-line
                .col-1
                  .icon-edit
                    a(href='editar-productos')
                      img(src='img/icon-edit.svg')
                .col.total
                  p Total: 300
      .btn-posicion
        .icon-add
          a(href='productos.html')
            img(src='img/icon-add.svg')
        p Total Neto:     S/.600.00
        .btn-bottom
          .middle-l
            .btn-border-green
              a.btn-save(href='#') GUARDAR
          .middle-r
            .btn-backgrounb-green
              a(href='confirmacion.html') CONFIRMAR PEDIDO
    #day.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          button.close.text-secondary(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          .modal-header
            .search-modal
              .container
                .input-group
                  input#txtbuscar.form-control(type='text', placeholder='Buscar Cliente')
                  span.input-group-btn
                    button#buscar.btn.btn-green(type='button')
                      i.fas.fa-search(aria-hidden='true')
                      span.glyphicon.glyphicon-search
              .customers
                .container
                  .cust-route
                    h3 Clientes planificados en ruta
          .modal-body
            #timeline
              div
                section.day
                  .date
                    h3 22
                    p Nov
                    section
                      .item
                        .row
                          .col
                            .font-weight-bold.float-left
                              a(href='detallesdepedido.html')
                                p 58565
                            .float-right
                              a(href='cliente-info.html')
                                img(src='img/icon-info.png')
                          .col-12
                            a(href='detallesdepedido.html')
                              p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                          .col-12.f-visita
                            .float-left
                              p F.ultima visita: 10/10/18
                            .float-right
                              p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18
                    section.day
                      section
                        .item
                          .row
                            .col
                              .font-weight-bold.float-left
                                a(href='detallesdepedido.html')
                                  p 58565
                              .float-right
                                a(href='cliente-info.html')
                                  img(src='img/icon-info.png')
                            .col-12
                              a(href='detallesdepedido.html')
                                p ALCIMAR FARM E.I.R.L. / Botica Alcimars
                            .col-12.f-visita
                              .float-left
                                p F.ultima visita: 10/10/18
                              .float-right
                                p F.ultima visita: 10/10/18

            
    include base/script.pug
