doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    .detalles-producto
      .head-title
        .container-fluid
          a.float-left(href='clientes.html')
            i.fas.fa-arrow-left
          h2 CONDICION COMERCIAL
      .head-product
        .container-fluid
          .row
            .col-7
              h5 09098 GLUCERNA (TRIPLE CARE) PVO/SOL OR X900G
            .col-5
              .icons-modal
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#stock')
                  img(src="img/icon-stock.svg")

                #stock.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                    .modal-content
                      .modal-header
                        h5#exampleModalLabel.modal-title 
                        p Stock por lote
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true')
                      .modal-body
                        p Stock por lote
                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')

                  img(src="img/icon-regalo2.svg")
                #regalo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                  .modal-dialog(role='document')
                    .modal-content
                      .modal-header
                        h5#exampleModalLabel.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true')
                      .modal-body
                        | ...

      .form-comercial
        .container
          form.form
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Cantidad
              .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Posicion superior
              .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Tipo de posicion
              .form-group-line
            .row
              .col
                .form-group
                  input.form-group-input(type='text', required='')
                  label.form-group-label Dcto. Total
                  .form-group-line
              .col
                .form-group
                  input.form-group-input(type='text', required='')
                  label.form-group-label Dcto. R
                  .form-group-line
              .col
                .form-group
                  input.form-group-input(type='text', required='')
                  label.form-group-label Dcto. Q
                  .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Precio forzado unitario
              .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Precio forzado final
              .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Precio f
              .form-group-line
            .form-group
              input.form-group-input(type='text', required='')
              label.form-group-label Precio forzado 
              .form-group-line
            .btn-edit-prod
              a(href="#") CONTINUAR

    include base/script.pug