doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    // opcciones
    .inicio-opciones
      .container
        .row
          .col-lg-3.col-6
            .btn-circulo
              a(href='clientes.html')
                img(src='img/b1.svg')
              h2 Toma de Pedido
          .col-lg-3.col-6
            .btn-circulo
              a(href='clientes.html')
                img(src='img/b2.svg')
              h2 Borradores
          .col-lg-3.col-6
            .btn-circulo
              a(href='clientes.html')
                img(src='img/b3.svg')
              h2 Pedidos Enviados
          .col-lg-3.col-6
            .btn-circulo
              a(href='clientes.html')
                img(src='img/b4.svg')
              h2 Estado de pedidos
    br
    br
    br
    include base/script.pug
