doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    #head-subtitle
      .container-fluid
        .row
          .col-7
            .head
              a(href='clientes.html')
                i.fas.fa-arrow-left
              h2 DATOS DEL CLIENTE
          .col-5
            .icons-product.float-right
              a(href="editar-productos.html")
                img(src='img/icon-edit-inactive.svg')
              a(href="detallesdepedido.html")
                img(src='img/icon-agregar.svg')
    .search
      .container-fluid
        .input-group
          input#txtbuscar.form-control(type='text', placeholder='Buscar por codigo, nombre o linea')
          span.input-group-btn
            button#buscar.btn.btn-green(type='button')
              i.fa.fa-search(aria-hidden='true')
              span.glyphicon.glyphicon-search
        .customers
          .cust-route
            h3 Productos sugerido
    #products-list
      .container-fluid
        .row
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
        .row
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
          .col-md-6.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .pick-modal
                    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#regalo')
                      img(src='img/regalo.svg')
                hr
                .row
                  .col-3
                    p Dcto Tot R: 12.85%
                    p Dcto Q: 11.00%
                    p Dcto Tot: 22.44%
                  .col-3
                    p P Lista: 206.42
                    p P Final: 160.11
                  .col-6
                    p Linea: 011A-Abbout Nutricional 
                    p Tránsito: 0.0 
                .row.pdt-15
                  .col-3
                    p 1119-0001
                    p 1201-0001
                  .col-3
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col-3
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
                  .col-3
                    p Cantidad 
                    span
                      input.cant(type='text', style='width: 100%;')
    #regalo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          button.close.text-secondary(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          .modal-header
            h5#exampleModalLabel.modal-title.titlemodal.txt-green
              | 209098 
              strong  - GLUCERNA (TRIPLE CARE) PVO/SOL OR X900G
          .modal-body
            p.txt-green Plan comercial
            .container
              .row
                .col-3.pdl-5
                  ul.color-list
                    li Lote
                .col-3
                  ul.color-list
                    li Promoción
                .col-6
                  ul.color-list
                    li Descripción
              .row.item-box
                .col-3
                  p.mg-20 6
                .col-3
                  p.mg-20 6+1UN
                .col-6
                  p Bonifi. Col INR[212129] - [PE18308358]
                  p Vig: Hasta: 2018/10/31
              .row.item-box
                .col-3
                  p.mg-20 6
                .col-3
                  p.mg-20 6+1UN
                .col-6
                  p Bonifi. Col INR[212129] - [PE18308358]
                  p Vig: Hasta: 2018/10/31
              .row.item-box
                .col-3
                  p.mg-20 6
                .col-3
                  p.mg-20 6+1UN
                .col-6
                  p Bonifi. Col INR[212129] - [PE18308358]
                  p Vig: Hasta: 2018/10/31




    include base/script.pug
