doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    .productos
      .head-title
        .container-fluid
          h2 PRODUCTOS
          .agregar
            img(src='img/icon-agregar.svg')
      .container-fluid
        .search
          .input-group
            input#txtbuscar.form-control(type='text', placeholder='Buscar por codigo, nombre o linea')
            span.input-group-btn
              button#buscar.btn.btn-green(type='button')
                i.fa.fa-search(aria-hidden='true')
                span.glyphicon.glyphicon-search
          .customers
            .cust-route
              h3 Productos sugerido
        #products-list
          .block-prod
            div
              .row
                .col-10
                  .bloque-prod
                    h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                    p Linea: 011A -Abboutt Nutricional
                .col-2
                  img(src='img/regalo.svg')
              hr
              .row
                .col
                  p 1119-0001
                  p 1201-0001
                .col
                  p Disp.: 273.0
                  p Disp.: 273.0
                .col
                  p Tránsito: 0.0 
                  p Tránsito: 0.0 
        #products-list
          .block-prod
            div
              .row
                .col-10
                  .bloque-prod
                    h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                    p Linea: 011A -Abboutt Nutricional
                .col-2
                  img(src='img/regalo.svg')
              hr
              .row
                .col
                  p 1119-0001
                  p 1201-0001
                .col
                  p Disp.: 273.0
                  p Disp.: 273.0
                .col
                  p Tránsito: 0.0 
                  p Tránsito: 0.0 
        #products-list
          .block-prod
            div
              .row
                .col-10
                  .bloque-prod
                    h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                    p Linea: 011A -Abboutt Nutricional
                .col-2
                  img(src='img/regalo.svg')
              hr
              .row
                .col
                  p 1119-0001
                  p 1201-0001
                .col
                  p Disp.: 273.0
                  p Disp.: 273.0
                .col
                  p Tránsito: 0.0 
                  p Tránsito: 0.0 
        #products-list
          .block-prod
            div
              .row
                .col-10
                  .bloque-prod
                    h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                    p Linea: 011A -Abboutt Nutricional
                .col-2
                  img(src='img/regalo.svg')
              hr
              .row
                .col
                  p 1119-0001
                  p 1201-0001
                .col
                  p Disp.: 273.0
                  p Disp.: 273.0
                .col
                  p Tránsito: 0.0 
                  p Tránsito: 0.0 
        #products-list
          .block-prod
            div
              .row
                .col-10
                  .bloque-prod
                    h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                    p Linea: 011A -Abboutt Nutricional
                .col-2
                  img(src='img/regalo.svg')
              hr
              .row
                .col
                  p 1119-0001
                  p 1201-0001
                .col
                  p Disp.: 273.0
                  p Disp.: 273.0
                .col
                  p Tránsito: 0.0 
                  p Tránsito: 0.0 
    include base/script.pug
