doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    #confirmacion
      .head
        .container-fluid.text-center
          p 458565
          p Alcimar Farm E.I.R.L. / BOTICA ALCIMARS
      .container
        .cen-width
          .felicidades
            img.float-right(src='img/icon-confirmacion.svg')
            h5 Felicitaciones !
            p Tu pedido P0001 ha sido procesado exitosamente.
          .listado-productos
            .box-cp
              .row
                .col
                  h6 465341 ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  p Pos 100 
                  p Cant 6
                  p UM ST
                  p Cant. ATP 135.000
                .col
                  p Pos. Sub 100.00
                  p Tipo Pos ZCOM
                  p Precio Base 126.85
                  p Valor Descuento 
                .col
                  p Dcto Total % 0.00
                  p Precio F UN
                  p Precio F FIN
                  p Precio F FIN
                  p Total Neto 300.00
            .box-cp
              .row
                .col
                  h6 465341 ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  p Pos 100 
                  p Cant 6
                  p UM ST
                  p Cant. ATP 135.000
                .col
                  p Pos. Sub 100.00
                  p Tipo Pos ZCOM
                  p Precio Base 126.85
                  p Valor Descuento 
                .col
                  p Dcto Total % 0.00
                  p Precio F UN
                  p Precio F FIN
                  p Precio F FIN
                  p Total Neto 300.00
            .box-cp
              .row
                .col
                  h6 465341 ALIPRAC PV ORAL CAJ X 06
              .row
                .col
                  p Pos 100 
                  p Cant 6
                  p UM ST
                  p Cant. ATP 135.000
                .col
                  p Pos. Sub 100.00
                  p Tipo Pos ZCOM
                  p Precio Base 126.85
                  p Valor Descuento 
                .col
                  p Dcto Total % 0.00
                  p Precio F UN
                  p Precio F FIN
                  p Precio F FIN
                  p Total Neto 300.00
        .confirmacion-total.float-right
          p Total Neto:  S/.600.00
        .btn-edit-prod.fixed-480
          a(href='#') FINALIZAR


    include base/script.pug