doctype html
html
  head
    include base/head.pug
  body
    include base/menu.pug
    
    #head-subtitle
      .container-fluid
        .head
          a(href='clientes.html')
            i.fas.fa-arrow-left
          h2 DATOS DEL CLIENTE
          .icons-product
            img(src='img/icon-edit-inactive.svg')
            img(src='img/icon-agregar.svg')

    .search
      .container-fluid
        .input-group
          input#txtbuscar.form-control(type='text', placeholder='Buscar por codigo, nombre o linea')
          span.input-group-btn
            button#buscar.btn.btn-green(type='button')
              i.fa.fa-search(aria-hidden='true')
              span.glyphicon.glyphicon-search
        .customers
          .cust-route
            h3 Productos sugerido
    #products-list
      .container-fluid
        .row
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
        .row
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 
          .col-md-3.col-sm-12
            .block-prod
              div
                .row
                  .col-10
                    .bloque-prod
                      h6 465341 - ALIPRAC PV ORAL CJ X 06 SOBRES X 76G
                      p Linea: 011A -Abboutt Nutricional
                  .col-2
                    img(src='img/regalo.svg')
                hr
                .row
                  .col
                    p 1119-0001
                    p 1201-0001
                  .col
                    p Disp.: 273.0
                    p Disp.: 273.0
                  .col
                    p Tránsito: 0.0 
                    p Tránsito: 0.0 



    include base/script.pug
