@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
* {
  margin: 0;
  padding: 0; }

body {
  background: #F1F1F1;
  font-family: 'Roboto Condensed', sans-serif;
  color: #666666;
  line-height: 1; }

p {
  margin-top: 0;
  margin-bottom: 5px; }
