/*head*/
.bg-light {
  background-color: #f8f9fa !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#0e646a), color-stop(#0c7371), color-stop(#1a8275), color-stop(#309175), to(#499f73));
  background-image: -webkit-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: -o-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73); }

.navbar-light .navbar-brand {
  color: #fff;
  font-weight: 500; }
