title Quimovil
meta(name='keywords',content='')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
// Bootstrap CSS
link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
// font-awesom
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
// fonts
link(href='css/fonts.css', rel='stylesheet', type='text/css')
// mystyles
link(href='css/main.css', rel='stylesheet', type='text/css')
link(href='css/medias.css', rel='stylesheet', type='text/css')