
nav.navbar.navbar-expand-lg.navbar-dark.bg-light
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
      img(src="img/logoo-23.svg")
  #navbarTogglerDemo01.collapse.navbar-collapse
    a.navbar-brand(href='index.html') Quimovil
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        a.nav-link(href='#')
          | Toma de Pedido 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Borradores
      li.nav-item
        a.nav-link(href='#') Pedidos enviado
      li.nav-item
        a.nav-link(href='#') Estado de pedido