/*****clientes-timeline******/
div.cients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  overflow-y: auto; }

.customers h3 {
  font-size: 16px;
  padding: 10px 0 0; }

.date h3 {
  font-size: 22px; }

#timeline {
  position: relative;
  display: table;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

#timeline section:after {
  content: '';
  width: 2px;
  position: absolute;
  top: .5rem;
  bottom: 0rem;
  left: 40px;
  z-index: 1;
  background: #63C282; }

#timeline .date {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  color: #888;
  margin: 0;
  font-size: 15px;
  font-weight: 400; }

@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em; } }

#timeline section.day {
  position: relative; }

#timeline section.day:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px; }

#timeline section.day section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em; }

#timeline section.day section .item {
  padding: 0 0 0 55px;
  background-color: #fff;
  margin-left: 60px;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden; }

#timeline section.day section .item:first-of-type:after {
  content: '';
  width: 13px;
  height: 13px;
  background: #63C282;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 34px;
  top: 3px;
  z-index: 2; }

#timeline .f-visita {
  font-size: 12.5px;
  padding-top: 10px; }

#timeline .item a {
  color: #0e656b; }