/*****productos******/
.block-prod {
  background-color: #fff;
  padding: 10px;
  height: 143px;
  border-bottom: 2px solid #0d696c;
  margin: 15px 0; }

.block-prod h6 {
  color: #0d696c;
  font-weight: bold; }

.bloque-prod p {
  color: #63c282; }

.block-prod hr {
  margin-top: 8px;
  margin-bottom: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.17); }

#products-list .block-prod {
  font-size: 14px; }