/*****cliente info******/
.info-cost {
  background-color: #fff; }

.tablink {
  background-color: #eee;
  color: #0E646A;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%; }

.tablink:hover {
  background-color: #777;
  color: #fff; }

/* Style the tab content */
.tabcontent {
  color: #565656;
  display: none; }

.nav-info {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

/*1*/
.head-client {
  background-color: #f8f9fa !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#0e646a), color-stop(#0c7371), color-stop(#1a8275), color-stop(#309175), to(#499f73));
  background-image: -webkit-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: -o-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  padding: 5px;
  color: #fff; }

.head-client h2 {
  font-size: 16px; }

.panel-heading .row {
  margin: 0px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0; }

.phone p {
  padding: 5px 0 0 5px; }

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  padding: 10px 0; }

.email p {
  padding: 5px 0 0 5px; }

.credito {
  padding: 20px 0 10px; }

.credito .circle {
  border: 3px #ccc solid;
  border-radius: 50%;
  /*width: 95px;
  height: 95px;*/
  width: 120px;
  height: 120px;
  display: inline-block;
  text-align: center; }

.credito .circle h3 {
  font-size: 17px;
  padding-top: 25px;
  color: #0e646a;
  font-weight: 700; }

.credito .circle p {
  font-size: 15px;
  line-height: 14px; }

.info-cost .detalle {
  text-align: left;
  /*font-size: 15px;*/
  font-size: 17px;
  padding: 25px 0 250px;
  line-height: 20px; }

/*2*/
/*General style */
#accordion {
  /* padding: 30px 150px; */ }

.panel-title a {
  font-size: 16px;
  /* text-transform: uppercase; */
  /* font-weight: 600; */
  /* padding-right:20px; */
  color: #ffffff;
  text-decoration: none; }

.panel-title i {
  padding: 0 10px 0 0; }

.panel-default > .panel-heading {
  text-align: left;
  margin: 10px 0;
  background-color: #0d6f6f;
  color: white; }

#accordion .glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {
  background-color: white !important; }

.panel-heading {
  padding: 10px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;}

.panel-default > .panel-heading h4 {
  font-size: 16px; }

/* Code for animation -- to change direction of chevron just change -40px to 40px and vice versa */
.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {
  width: 10px;
  height: 5px;
  background-color: #636363;
  display: inline-block;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear; }

.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {
  -webkit-transform: skewY(-40deg);
  -ms-transform: skewY(-40deg);
  transform: skewY(-40deg);
  /* color: #fff; */ }

.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {
  -webkit-transform: skewY(40deg);
  -ms-transform: skewY(40deg);
  transform: skewY(40deg); }

.glyphicon {
  top: -2px;
  color: #fff; }

.panel-body .fordays {
  background-color: #f1f1f1;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dia {
  background-color: #cccc;
  padding: 10px 6px 6px;
  text-align: center;
  width: 100%;
  margin: 0 5px; }

.dia p:first-child {
  font-size: 24px; 
  display: inline-flex;
  width: 50%;}

.dia p:last-child {
  font-size: 14px;
  padding-top: 5px; 
  display: inline-flex;}

span.txt-coll {
  position: absolute;
  top: 5px;}



/*
.icon-icon-pedidos:before {
    content: "\e900";
    color: #fff;
    font-size: 30px;
}
*/