/*******tabs info*********/
.info-cost {
  background-color: #fff;
}

.tablink {
    background-color: #ffffff;
    color: #0E646A;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}

.tablink:hover {
    background-color: #777;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    color: #565656 ;
    display: none;
}
.nav-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}
/*1*/
.head-client {
  background-color: #f8f9fa!important;
  background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  padding: 5px;
  color: #fff;
}
.head-client h2 {
  font-size: 16px;
}
.phone {
  display: flex;
  padding: 10px 0;
}
.phone p {
  padding: 5px 0 0 5px;
}
.email {
  display: flex;
  float: right;
  padding: 10px 0;
}
.email p {
  padding: 5px 0 0 5px;
}
.credito {
  padding: 20px 0 10px;
}
.credito .circle{
    border: 3px #ccc solid;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    display: inline-block;
        text-align: center;
}
.credito .circle h3{
    font-size: 17px;
    padding-top: 25px;
    color: #0e646a;
    font-weight: 700;
}
.credito .circle p{
  font-size: 15px;
    line-height: 14px;
}

.info-cost .detalle {
  text-align: left;
  font-size: 15px;
  padding: 25px 0 250px;
  line-height: 17px;
}

/*2*/
/*General style */

#accordion {/* padding: 30px 150px; */}
.panel-title a {font-size: 16px;/* text-transform: uppercase; *//* font-weight: 600; *//* padding-right:20px; */color: #ffffff;text-decoration: none;}
.panel-default>.panel-heading {text-align: left;margin: 10px 0;background-color: #0d6f6f;}
.panel-heading {padding: 10px;}


/* Code for animation -- to change direction of chevron just change -40px to 40px and vice versa */
.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {width: 10px; height: 5px; background-color: rgb(99, 99, 99); display: inline-block; transition: all .1s linear;}
.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {transform: skewY(-40deg);/* color: #fff; */}
.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {transform: skewY(40deg);}
.glyphicon {top: -2px;color: #fff;}

.panel-body .fordays {
    background-color: #f1f1f1;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.dia{
      background-color: #cccc;
    padding: 10px 6px 6px;
    text-align: center;
}
.dia p:first-child {
  font-size: 24px;
}
.dia p:last-child {
  font-size: 14px;
    padding-top: 5px;
}