/*****edetalle de pedido******/
.nav-pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%; }

.nav-pedido .tablink {
  width: 50%;
  font-size: 14px; }

.back-form-detalle {
  background-color: #fff;
  padding: 10px;
  width: 100%; }

/**form*/
.form-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #9eaab8;
  margin-bottom: 16px; }

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 16px; }

.form-group-label {
  color: #9eaab8;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 12px;
  left: 16px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form-group-input:focus ~ .form-group-label,
.form-group-input:valid ~ .form-group-label {
  font-size: 14px;
  top: 0px;
  color: #2f9075; }

.form-group-input {
  font-size: 18px;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-top: 16px;
  border-radius: 2px;
  color: #3a3a3a;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff; }

.form-group-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #339375;
  z-index: 1;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.form-group-input:hover ~ .form-group-line {
  width: 0;
  -webkit-animation: input 1s infinite ease-in-out;
  animation: input 1s infinite ease-in-out; }

.form-group-input:focus ~ .form-group-line,
.form-group-input:valid ~ .form-group-line {
  -webkit-animation: input2 0.5s 1 ease;
  animation: input2 0.5s 1 ease;
  width: 100%; }

select {
  color: #9eaab8 !important;}



/*posiciones*/
#posiciones .empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 40% 0;
  color: #cbcbcb; }

.tabcontent .icon-add a img {
  width: 50px;
  position: fixed;
  bottom: 112px;
  right: 20px; }

.block-pedido {
  background-color: white;}

.box-product:nth-child(even) {
  background-color: #449c7347;}

.shared {
  border: 2px solid;
  padding: 4px;}

i.fas.fa-share-alt {
  border-right: 1px solid;
  padding-right: 4px;}

.box-product {
  background-color: #fff;
  padding: 11px 16px;
  margin: 10px 0; }

.box-product .form-group-label {
  font-size: 14px;
  top: 8px;
  left: 9px; }

.box-product .form-group {
  margin-bottom: 5px; }

.box-product .delete i {
  color: #7d7d7d; }

.icon-edit {
  width: 24px;
  padding-top: 15px; }

.box-product .total {
  padding-top: 15px; }

.btn-posicion {
  position: fixed;
  bottom: 0;
  text-align: center; 
  width: 100%;}

.btn-posicion p {
  color: #0e646a;
  font-weight: bold; }

.middle-l {
  width: 50%;}

.middle-r {
  width: 50%;}

.btn-bottom {
  display: flex;
  background-color: #dcdbdb;
  margin-top: 15px;}

a.btn-save {
  padding: 18px 50px;
  text-decoration: none;
}

#day .modal-content {
  background-color: #f1f1f1;
}
.search-modal {
  width: 100%;}

button.modal-detail {
  background-color: transparent;
  border: 0px;}

button.modal-detail:focus {
  outline: 0px;}