/*****editar producto******/
.detalles-producto {
  position: relative; }

.head-product {
  background-color: #f8f9fa !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#0e646a), color-stop(#0c7371), color-stop(#1a8275), color-stop(#309175), to(#499f73));
  background-image: -webkit-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: -o-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
  margin: 15px 0 0;
  padding: 15px 0 40px;
  color: white; }

.icons-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icons-modal .btn-primary {
  color: #fff;
  background-color: #fff0;
  border-color: #fff0; }

.icons-modal .btn-primary:not(:disabled):not(.disabled).active, .icons-modal .btn-primary:not(:disabled):not(.disabled):active, .icons-modal .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc00;
  border-color: #005cbf00; }

.icons-modal .btn-primary.focus, .icons-modal .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0); }

.form-comercial {
  background-color: #fff;
  padding: 25px 10px;
  /*margin: 0 20px 20px;*/
  margin: 0 100px 20px;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0; }

.btn-edit-prod {
  text-align: center; }

.btn-edit-prod a {
  border-radius: 10px;
  padding: 20px 25px;
  color: #ffffff;
  text-align: center;
  background-color: #0e646a;
  margin: 10px;
  min-width: 153px;
  display: inline-block;
  text-decoration: none; }

select#tip_pos:focus {
  border: 0px;
  box-shadow: none;}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #339375;}

.custom-control-label::before {
  background-color: white;
  border: 1.2px solid #339375;}

.custom-control.custom-checkbox {
  margin: 10px 5px 15px}

label.custom-control-label p{
  position: relative;
  top: 3px;}

textarea#textarea {
  width: 100%;
  color: #3a3a3a;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 0px;
  padding: 10px 17px 5px;}

textarea#textarea:focus {
  outline: 0px;}

/*modal-lu*/
ul.color-list {
  list-style-type: none;
  color: #666666;
  margin-top: 10px; }

.color-list li {
  padding: 0 0px 8px; }

.color-list li:nth-child(1) {
  color: #B2B2B2;
  margin-bottom: 12px; }

.icons-modal button {
  padding: 5px 2px; }

.modal-dialog button.close {
  position: relative;
  right: 10px;
  text-align: right; }

#stock .col-3 {
  padding: 0px; }

/*modal2*/
.item-box {
  background-color: #d7fae7;
  padding: 5px 0px;
  margin-bottom: 2px;
  color: #646363; }

#regalo ul.color-list, .color-list li:nth-child(1) {
  margin-bottom: 0px; }

.mg-20 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.pdl-5 {
  padding-left: 5px; }