.detalles-producto {
	position: relative;
}
.head-product {
	background-color: #f8f9fa !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#0e646a), color-stop(#0c7371), color-stop(#1a8275), color-stop(#309175), to(#499f73));
    background-image: -webkit-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
    background-image: -o-linear-gradient(left, #0e646a, #0c7371, #1a8275, #309175, #499f73);
    background-image: linear-gradient(to right, #0e646a, #0c7371, #1a8275, #309175, #499f73);
    margin: 15px 0;
    padding: 15px 0 40px;
    color: white;
}

.icons-modal {
	display: flex;
	.btn-primary {
    color: #fff;
    background-color: #fff0;
    border-color: #fff0;
	}
	.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc00;
    border-color: #005cbf00;
	}
	.btn-primary.focus, .btn-primary:focus {
	    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
	}
}
.form-comercial {
	background-color: #fff;
    padding: 25px 10px;
    margin: 20px;
    border-radius: 10px;
    position: absolute;
    top: 136px;
}

.btn-edit-prod {
	text-align: center;
	a{
	border-radius: 10px;
    padding: 20px 25px;
    color: #ffffff;
    text-align: center;
    background-color: #0e646a;
    margin: 10px;
    min-width: 153px;
    display: inline-block;
    text-decoration: none;
	}
}